<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">
      jdbc:postgresql://localhost/cashflowprojector_dev
    </property>
    <property name="hibernate.connection.driver_class">
      org.postgresql.Driver
    </property>
    <property name="hibernate.connection.username">rails_user</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.pool_size">0</property>
    <property name="hibernate.dialect">
      org.hibernate.dialect.PostgreSQLDialect
    </property>

    <property name="hibernate.show_sql">false</property>
    <!--<property name="hbm2ddl.auto"></property> -->

    <!-- "Import" the mapping resources here -->
    <mapping class="sample.entity.BankAccount"/>
    <mapping class="sample.entity.LedgerAccount"/>
    <mapping class="sample.entity.LedgerEntry"/>
    <mapping class="sample.entity.User"/>


    <mapping resource="filters.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
